body, html {
    font-size: 10px;
    text-align: left !important;
}

applet {
    margin-top: 2em;
    width: 100%;
}

div.wrapper {
  position: relative;
  width: 75%;
  min-width: 1000px;
  margin: auto;
  padding: 10px;
}

button {
  font-weight: bold;
  padding: .5em;
  float: right;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.stages {
  clear: both;
  margin-top: 50px;
}

.stages.inactive {
}

.stage {
  font-family: Verdana,Arial,sans-serif;
  border: 1px solid #333;
  padding: 1em;
}

.stage .header {
  font-size: 14px;
  font-weight: bold;
}

.stage .msg {
  margin-top: 1em;
}

.stage.ready {
  opacity: 0.2;  
}

.stage.running {
  height: 50px;
  opacity: 1.0;
}

.stage.finished {
  height: 50px;
  opacity: 1.0;
}

.viz-link {
  display: block;
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.viz-link:hover {
  text-decoration: underline;
}

div.hidden {
  display: none;
}

.pt-clear {
  clear: both;
}

div.leftcol {
    float: left;
    width: 350px;
}

div.view {
    position: relative;
    float: left;
    width: 500px;
    margin-left: 20px;
}

.panel {
  background-color: #eee;
  padding: 2em;
  border-radius: 4px;
  min-height: 400px;
}

.input-form {
  width: 250px;
  margin-left: 4em;
}

select#demos {
    width: 100%;
}

input.textbox {
    width: 55%;
    margin-left: .5em;
    margin-right: .5em;
}

ul.datasources {
    list-style-type: none;
    padding: 0px;
}

ul.datasources li{
    padding-top: .5em;
    padding-bottom: .5em;
}

img.loading {
   position:absolute;
   top:50%;
   left:50%;
}